page-profile {
	figure > img {
		border-radius: 50%;
	}
	.captcha {
		padding-top: 5px;
	}
	.captcha img {
		border: solid 1px #eee;
	}
	.captcha input {
		text-transform: uppercase;
	}
	.ios .captcha img {
		border-radius: 5px;
	}
	ion-list.bookmarks > ion-list-header > div > div {
		margin-top: 30px;
	}
	ion-list.bookmarks > ion-item-sliding > ion-item {
		cursor: pointer;
	}
	ion-list.bookmarks > ion-item-sliding > ion-item > div > div > ion-label > h2 {
		margin-top: 7px !important;
	}
	ion-list.bookmarks > ion-item-sliding > ion-item > div > div > ion-label > p > span:last-child {
		margin-left: 30px;
	}
	ion-list.bookmarks > ion-item.time > div > div > ion-label {
		cursor: default;
		text-align: right;
		font-size: 80%;
	}
	div.avatar > h2 {
		clear: both;
		padding-top: 30px;
	}
	div.avatar > div {
		width: 272px;
	}
	div.avatar > div:first-of-type > img-cropper > span > input {
		display: inline-block;
		width: 100%;
		height: 30px;
		vertical-align: middle;
	}
	div.avatar > div:last-of-type {
		margin-top: 30px;
		height: 272px;
	}
	div.avatar > div:last-of-type > img {
		border-radius: 50%;
		width: 272px;
		height: 272px;
	}
	@media only screen and (min-width: 768px) {
		div.avatar > div {
			float: left;
		}
		div.avatar > div:last-of-type {
			margin-left: 30px;
		}
	}
}
