page-profile {
	figure > img {
		border-radius: 50%;
	}
	.captcha {
		padding-top: 5px;
	}
	.captcha img {
		border: solid 1px #eee;
	}
	.ios .captcha img {
		border-radius: 5px;
	}
	.captcha input {
		text-transform: uppercase;
	}
	ion-list.bookmarks > ion-list-header > div > div {
		margin-top: 30px;
	}
	ion-list.bookmarks > ion-item-sliding > ion-item {
		cursor: pointer;
	}
	ion-list.bookmarks > ion-item-sliding > ion-item > div > div > ion-label > h2 {
		margin-top: 7px;
	}
	ion-list.bookmarks > ion-item-sliding > ion-item > div > div > ion-label > p > span:last-child {
		margin-left: 30px;
	}
	ion-list.bookmarks > ion-item.time > div > div > ion-label {
		cursor: default;
		text-align: right;
		font-size: 80%;
	}
}
