<ion-header [class.has-hidden-toolbar]="!info.filtering">
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons right [hidden]="info.filtering" (click)="showFilter()">
			<button ion-button icon-only>
				<ion-icon name="search"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>{{info.title}}</ion-title>
	</ion-navbar>
	<ion-toolbar [hidden]="!info.filtering">
		<ion-searchbar debounce="345" placeholder="tìm nhanh, không dấu cũng OK" showCancelButton="true" cancelButtonText="Đóng"
		 [(ngModel)]="info.filterBy.Query" (ionInput)="onFilter($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-footer [hidden]="info.filtering">
	<ion-toolbar>
		<ion-buttons left *ngIf="info.pagination && info.pagination.TotalRecords > 0">
			<button ion-button icon-left>
			<ion-icon name="book"></ion-icon>
			<span>
				{{info.totalRecords | number}} / {{info.pagination.TotalRecords | number}}
			</span>
			<span [hidden]="info.pagination.TotalPages < 2" style="margin-left:16px">
				({{info.pageNumber | number}}/{{info.pagination.TotalPages | number}})
			</span>
		</button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button icon-only (click)="showActions()">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

<ion-content [class.has-sub-header]="info.filtering" [class.no-footer]="info.filtering">

	<ion-infinite-scroll threshold="288px" position="top" (ionInfinite)="onInfiniteScroll($event)" [hidden]="true || info.mode != 'auto' || info.pageNumber <= info.displayPages">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-list class="books">
		<button ion-item detail-none *ngFor="let b of books; trackBy: trackBy" (click)="openBook(b)">
			<ion-thumbnail item-left>
				<img [src]="b.Cover" width="65" height="80"/>
			</ion-thumbnail>
			<p>
				<span [hidden]="info.filterBy.And.Author.Equals != ''">
					{{b.Author}}
				</span>
				<span [hidden]="info.filterBy.And.Category.Equals != ''">
					{{b.Category}}
				</span>
				<span class="info">
					<span *ngIf="b.TotalChapters > 1">
						<span class="chapters">
							{{b.TotalChapters | number}}
						</span>
						<ion-icon name="copy"></ion-icon>
					</span>
					<rating [(ngModel)]="ratings[b.ID]" [max]="5" [readonly]="true" [float]="true"></rating>
				</span>
			</p>
			<h2>
				{{b.Title}}
			</h2>
		</button>
	</ion-list>

	<ion-infinite-scroll threshold="288px" position="bottom" (ionInfinite)="onInfiniteScroll($event)" [hidden]="info.mode != 'auto' || (info.pagination && info.pageNumber == info.pagination.TotalPages)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	
</ion-content>