<ion-header>
  <ion-navbar hideBackButton="true">
		<ion-buttons left>
			<button ion-button icon-only (click)="exit()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
    <ion-title>{{info.state.title}}</ion-title>
  </ion-navbar>  
</ion-header>

<ion-footer *ngIf="info.state.mode == 'SignIn'">
	<ion-buttons right>
		<button ion-button icon-left clear (click)="openRenewPassword()">
			<ion-icon name="key"></ion-icon>
			Quên mật khẩu
		</button>
	</ion-buttons>
</ion-footer>

<ion-content padding>
	<form #form="ngForm">
		<ion-item [class.invalid]="!info.state.valid && !isValidEmail(info.account.email)" *ngIf="info.state.mode != 'OTP'">
	    <ion-label floating>Email</ion-label>
	    <ion-input #email required name="email" type="email" maxlength="150" [(ngModel)]="info.account.email"></ion-input>
	  </ion-item>
	  <ion-item [class.invalid]="!info.state.valid && !isNotEmpty(info.account.password)" *ngIf="info.state.mode == 'SignIn'">
	    <ion-label floating>Mật khẩu</ion-label>
	    <ion-input #password required name="password" type="password" maxlength="150" clearOnEdit="false" [(ngModel)]="info.account.password"></ion-input>
	  </ion-item>
	  <ion-item class="captcha" [class.invalid]="!info.state.valid && !isNotEmpty(info.captcha.code)" [hidden]="info.state.mode != 'Password'">
	    <img item-left [src]="info.captcha.uri"/>
	    <button ion-button clear icon-only item-left (click)="renewCaptcha()" *ngIf="info.state.mode == 'Password'">
	    	<ion-icon name="refresh"></ion-icon>
	    </button>
	    <ion-input #captcha name="captcha" type="text" placeholder="Mã xác thực" maxlength="4" [(ngModel)]="info.captcha.code"></ion-input>
	  </ion-item>
	  <ion-item [class.invalid]="!info.state.valid && !isNotEmpty(info.account.otp)" [hidden]="info.state.mode != 'OTP'">
	    <ion-label floating>Mã xác thực</ion-label>
	    <ion-input #otp name="otp" type="text" maxlength="6" clearOnEdit="true" [(ngModel)]="info.otp.value"></ion-input>
	  </ion-item>
		<div text-right style="padding-top:16px">
			<button ion-button icon-left [hidden]="info.state.processing" (click)="doSignIn(form)" *ngIf="info.state.mode == 'SignIn'">
				<ion-icon name="log-in"></ion-icon>
				Đăng nhập
			</button>		
			<button ion-button icon-left [hidden]="info.state.processing" (click)="doRenewPassword(form)" *ngIf="info.state.mode == 'Password'">
				<ion-icon name="key"></ion-icon>
				Lấy mật khẩu mới
			</button>
			<button ion-button icon-left [hidden]="info.state.processing" (click)="doValidateOTP(form)" *ngIf="info.state.mode == 'OTP'">
				<ion-icon name="key"></ion-icon>
				Xác thực
			</button>
		</div>
	</form>
</ion-content>
