page-read-book {
	.cover > figure,
	.cover > h1,
	.cover > div {
		text-align: center;
	}
	/* cover */
	.cover > figure > img {
		border-radius: 5px;
		width: 560px;
		max-width: 80%;
	}
	.cover > div {
		padding: 5px 0;
	}
	.cover > div > span {
		margin-left: 10px;
	}
	.cover > div > label {
		font-weight: bold;
	}
	/* body */
	div.body {
		padding: 0 10px;
	}

	/* --------------------------------------------------------------------------
	 reading options: color, font, font size, line height (paragraph), aligment
	 -------------------------------------------------------------------------- */
	ion-content.white > div.scroll-content
	{
		color: #000;
		background-color: #fff;
	}
	ion-content.black > div.scroll-content
	{
		color: #fff;
		background-color: #000;
	}
	ion-content.sepia > div.scroll-content
	{
		color: #643b0f;
		background-color: #efe0b9;
	}

	/* font style */
	div.default,
	div.pridi
	{
		font-family: Pridi, serif;
	}
	div.like-default
	{
		font-family: Rokkitt, serif;
	}
	div.plump
	{
		font-family: Maitree, serif;
	}
	div.fat
	{
		font-family: "Roboto Slab", serif;
	}
	div.fancy
	{
		font-family: Roboto, sans-serif;
	}

	/* font size */
	div.smallest
	{
		font-size: 14px;
	}
	div.smaller
	{
		font-size: 16px;
	}
	div.small
	{
		font-size: 18px;
	}
	div.normal
	{
		font-size: 22px;
	}
	div.big
	{
		font-size: 26px;
	}
	div.bigger
	{
		font-size: 30px;
	}
	div.huge
	{
		font-size: 44px;
	}

	/* paragraph */
	div.one > p
	{
		margin: 10px 0;
		line-height: 1.6;
	}
	div.two > p
	{
		margin: 15px 0;
		line-height: 1.8;
	}
	div.three > p
	{
		margin: 20px 0;
		line-height: 2;
	}
	div.align-left > p
	{
		text-align: left;
	}
	div.align-justify > p
	{
		text-align: justify;
	}
	div.align-right > p
	{
		text-align: right;
	}
}